.slide-text {
    display: inline-block;
    padding: 1em;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

body {
    min-width: 400px;
}

.no-padding-bottom {
    padding-bottom: 0px;
}

.testiSlider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testiSlider .slides {
    margin-bottom: 3rem;
}

#contactNumber {
    margin-bottom: 0px;
}


.validationError {
    display: none;
    margin-bottom: 20px;
    padding: 0;
    color: red;
    font-size: .75rem;
}